<app-header></app-header>


<div id ="popular-crags">
    <div class="container">
  
      <div class="row">
        <div class="col justify-content-center">
          <h1>Explore your next crag</h1>
        </div>
      </div>
  
      <div class="row">
        <div class = "col justify-content-center">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search a Crag" aria-label="Search" aria-describedby="inputGroup-sizing-lg">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container mt-5">  
    <div class = "row">
      <div class = "col justify-content-center">
        <h1>Popular Crags</h1>
          <ol>
            <li>
              <a routerLink="/crags-profile" routerLinkActive="active">Joshua Tree, CA</a>
            </li>
            <li>
              <a href="#">Yosemite, CA</a>
            </li>
            <li>
              <a href="#">Tuolomne Meadows, CA</a>
            </li>
          </ol>
      </div>
    </div>
  
  </div> 
  <!--END CONTAINER-->