<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="crag-name">
                Joshua Tree National Park
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="location">
                Joshua Tree, CA
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="description">
                Joshua Tree National Park is located just 5 miles south of Joshua Tree California. It his home to some of the United States best granite bouldering and trad routes, and even surprises with some worthy sport routes.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Popular Routes</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-4">
        <p>Bouldering</p>
        </div>

        <div class="col-4">
            <p>Sport</p>
        </div>

        <div class="col-4">
            <p>Trad</p>
        </div>
    </div>
        
</div>